body{
  background-image: url('http://www.wallsave.com/wallpapers/1920x1080/counter-strike-hd-pc/3399692/counter-strike-hd-pc-juegos-general-imagen-matrix-by-andre-w-jpg-3399692.jpg');
}
#header {
  color: white;
}
#title {
  color: white;
}
#menu {
}
#img1{
  width: 98%;
}
#content {
  width: 98%;
  height: 100%;
  background-color: gray; 
}
