#header {
}
#title {
}
#menu {
}
#rightColumn {
  visibility: hidden;
  display: none;
}
#leftColumn {
  width: 30%; 
  float: left;
  
}
#content {
  width: 63%;
  margin: 0 35%;
  
}
#dojo-slideshow {
  height: 17em !important;  
}
#slideshow-desc {
  top: -52% !important;
  position: relative;
}